<!DOCTYPE html>
<html>

<head>
    <title>QR Code Scanner</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <link rel="stylesheet" href="../src/styles.css" />
    <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>
</head>

<body>
    <div id="container">
        <h1>QR Code Scanner</h1>

        <a id="btn-scan-qr">
            <img src="https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg">
            <a />

            <canvas hidden="" id="qr-canvas"></canvas>

            <div id="qr-result" hidden="">
                <b>Data:</b> <span id="outputData"></span>
            </div>
    </div>

    <script src="../src/qrCodeScanner.js"></script>
</body>

</html>


{{!-- <h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/patients" method="POST" class="mb-4">
    <div class="form-goup">
        <label for="name">Name</label>
        <input type="text" name="name" id="" class="form-control">
    </div>
    <div class="form-goup">
        <label for="email">Email</label>
        <input type="email" name="email" id="" class="form-control">
    </div>
    <input type="submit" name="Add Member" id="" class="btn btn-primary btn-block">

</form>
<h4>patients</h4>
<ul class="list-group">
    {{#each patients}}
    <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    {{/each}}
</ul>

<a href="/api/patients" class="btn btn-light mt-4">Visit API</a> --}}